footer{
    clear:both;
    overflow: hidden;
    background:#232323;
    text-align: center;
}
.footer_ulbox{
    clear: both;
    width:1200px;
    margin:0 auto;  
    margin-bottom: 30px;
}
.footer_ulbox .footer_ul{
    width:100%;
    font-size:14px;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    color:#bdbdbd;
}
.footer_ul > li a{
    float: left;
    margin-right: 20px;
    color:#bdbdbd;
}
.footer_ul > li:first-child{
    margin-left:30px;
}

.address > p{
    width:100%;
    font-size: 12px;
    text-align: center;
    color: #bdbdbd;
    margin-bottom:84px;
}