.mall_header {
  height: 561px;
  position: relative;
  overflow: hidden; }
  .mall_header .slide {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%; }
    .mall_header .slide .header_p_wrap {
      width: 1340px;
      height: 561px;
      margin: 0 auto; }
      .mall_header .slide .header_p_wrap .header_p_pos {
        position: absolute;
        top: 150px;
        font-size: 36px;
        letter-spacing: -1px;
        font-weight: bold;
        font-family: 'Nanum Barun Gothic', sans-serif;
        opacity: 0;
        transition: all .3s;
        transition-delay: 0.6s; }
      .mall_header .slide .header_p_wrap .header_p {
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: normal; }
      .mall_header .slide .header_p_wrap .item {
        width: 130px;
        height: 35px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        line-height: 35px;
        text-align: center;
        background: #af000b;
        border-radius: 25px;
        font-family: 'Nanum Barun Gothic', sans-serif; }
      .mall_header .slide .header_p_wrap .big_bold {
        margin-top: 20px;
        font-size: 65px;
        line-height: 75px;
        font-weight: bold;
        letter-spacing: -5px;
        font-family: 'Nanum Barun Gothic', sans-serif; }
      .mall_header .slide .header_p_wrap .more {
        height: 30px;
        border-bottom: 1px solid;
        margin-top: 10px;
        cursor: pointer; }
  .mall_header .slide_img1 {
    background: url("../img/line_mall1.png") no-repeat; }
  .mall_header .slide_img2 {
    background: url("../img/line_mall2.png") no-repeat; }
  .mall_header .slide_img3 {
    background: url("../img/line_mall3.png") no-repeat; }
  .mall_header .slide_img4 {
    background: url("../img/line_mall4.png") no-repeat; }
  .mall_header .header_btn {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    cursor: pointer; }
  .mall_header .btn_left, .mall_header .g_btn_left {
    left: 0; }
  .mall_header .btn_right, .mall_header .g_btn_right {
    right: 0; }
  .mall_header .btn_left p, .mall_header .btn_right p {
    width: 80px;
    height: 80px;
    font-size: 50px;
    color: #fff;
    text-align: center;
    position: absolute; }

.header_add {
  top: 100px;
  opacity: 1;
  transition: all .4s;
  transition-delay: .7s; }

ul.menu li:nth-child(4) a {
  color: #00b800; }
  ul.menu li:nth-child(4) a::after {
    left: 0%;
    width: 100%; }

.top_con {
  padding: 36px;
  box-sizing: border-box; }
  .top_con .notify_banner {
    width: 100%;
    margin-top: 25px;
    background: #fafafa;
    box-sizing: border-box;
    position: relative; }
    .top_con .notify_banner .notify_img {
      position: absolute;
      left: 130px;
      bottom: -6px;
      z-index: 3; }
    .top_con .notify_banner .slide_notify_wrap {
      overflow: hidden;
      width: 100%;
      height: 60px;
      margin: 0 auto;
      position: relative; }
      .top_con .notify_banner .slide_notify_wrap .slide_notify {
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        line-height: 60px;
        text-align: center;
        cursor: pointer; }
    .top_con .notify_banner .btn_wrap {
      position: absolute;
      right: 100px;
      top: 50%;
      transform: translateY(-50%); }
      .top_con .notify_banner .btn_wrap .noti_btn {
        width: 25px;
        height: 25px;
        display: inline-block;
        border: 1px solid #777;
        background: #fff;
        box-sizing: border-box;
        right: 100px;
        cursor: pointer; }
        .top_con .notify_banner .btn_wrap .noti_btn p {
          font-size: 18px;
          line-height: 22px;
          text-align: center; }
  .top_con .third_sec {
    height: 420px;
    margin-top: 35px;
    margin-bottom: 35px; }
    .top_con .third_sec li {
      width: 444px;
      float: left;
      margin-right: 18px;
      box-sizing: border-box;
      position: relative; }
      .top_con .third_sec li:first-child a {
        color: #fa3c60; }
      .top_con .third_sec li:nth-child(2) a {
        color: #ff7984; }
      .top_con .third_sec li:nth-child(3) a {
        color: #4a45cb; }
      .top_con .third_sec li:nth-child(3) {
        margin-right: 0; }
    .top_con .third_sec a.more {
      position: absolute;
      font-size: 14px;
      top: 130px;
      left: 50%;
      transform: translateX(-50%);
      text-decoration: underline; }
  .top_con .middle_banner {
    margin-top: 35px; }
  .top_con .showmore {
    height: 40px;
    margin-top: 10px;
    text-align: right; }
  .top_con .addNcategory {
    margin-top: 35px;
    overflow: hidden; }
    .top_con .addNcategory > div {
      width: 674px;
      float: left; }
      .top_con .addNcategory > div:nth-child(2) {
        margin-left: 18px; }
        .top_con .addNcategory > div:nth-child(2) .category {
          height: 65px;
          text-align: center;
          text-decoration: underline;
          line-height: 65px;
          font-size: 24px;
          margin-bottom: 5px;
          box-sizing: border-box;
          font-weight: bold; }
        .top_con .addNcategory > div:nth-child(2) .category_wrap {
          overflow: hidden;
          padding: 25px 0 0 7px;
          box-sizing: border-box; }
          .top_con .addNcategory > div:nth-child(2) .category_wrap li {
            width: 100px;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 25px;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            text-align: center;
            line-height: 40px;
            transition: all .2s; }
            .top_con .addNcategory > div:nth-child(2) .category_wrap li:nth-child(6) {
              margin-right: 0; }
            .top_con .addNcategory > div:nth-child(2) .category_wrap li:last-child {
              margin-right: 0; }
            .top_con .addNcategory > div:nth-child(2) .category_wrap li:hover {
              box-shadow: 3px 3px 10px #ddd; }
            .top_con .addNcategory > div:nth-child(2) .category_wrap li a {
              display: block; }
        .top_con .addNcategory > div:nth-child(2) .icon_sec li {
          width: calc(100% / 6);
          box-sizing: border-box;
          float: left; }
          .top_con .addNcategory > div:nth-child(2) .icon_sec li p {
            height: 36px;
            text-align: center;
            line-height: 30px;
            color: #777;
            cursor: pointer; }
            .top_con .addNcategory > div:nth-child(2) .icon_sec li p:hover {
              text-decoration: underline; }
          .top_con .addNcategory > div:nth-child(2) .icon_sec li div {
            text-align: center; }
            .top_con .addNcategory > div:nth-child(2) .icon_sec li div img {
              cursor: pointer; }
  .top_con .goods_wrap2 {
    height: 470px;
    background: #f6f6f6;
    position: relative;
    overflow: hidden; }
    .top_con .goods_wrap2 .slide_ul {
      position: relative;
      left: -1055px;
      width: 3500px;
      height: 430px;
      top: 20px; }
      .top_con .goods_wrap2 .slide_ul .goods_slide {
        width: 308px;
        height: 430px;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
        margin: 0 10px 0;
        position: absolute;
        transition: all .3s; }
        .top_con .goods_wrap2 .slide_ul .goods_slide:hover {
          box-shadow: 0 0 20px #ccc;
          background: #feff35; }
        .top_con .goods_wrap2 .slide_ul .goods_slide:hover .g_img_sec {
          height: 350px; }
        .top_con .goods_wrap2 .slide_ul .goods_slide:hover .info_sec {
          height: 50px; }
        .top_con .goods_wrap2 .slide_ul .goods_slide .g_img_sec {
          display: inline-block;
          width: 270px;
          height: 270px;
          overflow: hidden;
          transition: all .3s; }
        .top_con .goods_wrap2 .slide_ul .goods_slide .info_sec {
          width: 270px;
          height: 130px;
          position: absolute;
          bottom: 0;
          transition: all .3s; }
          .top_con .goods_wrap2 .slide_ul .goods_slide .info_sec .name_tag {
            width: 70%;
            float: left; }
          .top_con .goods_wrap2 .slide_ul .goods_slide .info_sec .more_tag {
            position: absolute;
            bottom: 10px;
            right: 0;
            transition: all .3s;
            font-weight: bold; }
      .top_con .goods_wrap2 .slide_ul .goods_btn {
        width: 40px;
        height: 40px;
        border: 1px solid #8d8d8d;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 45%;
        cursor: pointer; }
        .top_con .goods_wrap2 .slide_ul .goods_btn p {
          width: 40px;
          height: 40px;
          font-size: 25px;
          color: #777;
          line-height: 40px;
          text-align: center;
          position: absolute; }
  .top_con .big_banner {
    margin-top: 35px;
    margin-bottom: 35px; }
  .top_con .goods_wrap {
    width: 100%;
    height: 690px;
    margin-left: 30px; }
    .top_con .goods_wrap .showmore {
      width: 1296px;
      height: 40px;
      margin-top: 10px;
      text-align: right; }
    .top_con .goods_wrap .goods_ul {
      width: 93%;
      overflow: hidden;
      margin: 0 auto; }
      .top_con .goods_wrap .goods_ul li {
        height: 310px;
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
        transition: all .3s; }
        .top_con .goods_wrap .goods_ul li .goods_info {
          margin-top: 5px;
          width: 200px;
          height: 90px;
          box-sizing: border-box;
          position: relative; }
          .top_con .goods_wrap .goods_ul li .goods_info .goods_bag {
            position: absolute;
            bottom: 18px;
            right: 15px; }
          .top_con .goods_wrap .goods_ul li .goods_info > a.goods_name {
            display: block;
            height: 38px;
            font-size: 14px; }
          .top_con .goods_wrap .goods_ul li .goods_info > p.goods_cost {
            font-size: 14px; }
          .top_con .goods_wrap .goods_ul li .goods_info .cost_bold {
            color: #000;
            font-size: 18px;
            font-weight: bold; }
  .top_con .showmore p, .top_con .showmore_100 p {
    display: inline-block;
    line-height: 25px;
    margin-right: 15px; }
  .top_con .plus {
    width: 25px;
    height: 25px;
    background: url("../img/showmore.png") no-repeat;
    float: right;
    cursor: pointer; }
